/*K Anna Breimann: 21002000*/
/*Date */
/*CSS file */
/* Project name: */
/* Description */

body{color: rgb(37, 3, 37);}
h1 {color:rgb(199, 81, 13);}


/* Table style*/

table {
    border: none;
    color: green;}

td th {text-align: left;}

thead th {
    border-bottom: 2px solid #444444;
    width: 120px;}

tfoot td {
    border-top: 1px solid #444444;}
